/* GRAYSON'S SEXY LITTLE STYLESHEET */

html {
	overflow-x: hidden;
}

.mini_cart_item_title {
	width: 50% !important;
}

.mini_cart_item_title h3 {
	font-size: 18px;
/* 	float: right; */
	text-align: left;
}

.widget_shopping_mini_cart_content .cart_list li {
	padding: 20px 25px 20px 10px !important;
}

.widget_shopping_mini_cart_content .cart_list li a {
	width: 50% !important;
}

.woocommerce-Price-currencySymbol {
	margin: 0px !important;
}

.widget_shopping_mini_cart_content .amount {
	width: 50% !important;
}

.widget_shopping_mini_cart_content ul {
	padding: 0px !important;
}

/*
.widget_shopping_mini_cart_content .buttons a {
	float: left;
	width: 50%;
    text-align: center;
    height: 45px;
    padding: 12px !important;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px !important;
    letter-spacing:.1rem;
    font-weight: 100;
    font-size: 16px;
}
*/

.widget_shopping_mini_cart_content .buttons {
	margin: 0px !important;
	display: block;
    padding: 10px !important;
    width: 100%;
    overflow: hidden;
}

.dropdown {
	padding: 0px !important;
}

.rc_wc_rvp_product_list_widget, .cdx-theme-list-view {
	overflow: hidden;
	height: 300px;
}

.slider_bullet {
	font-size: 30px;
    text-decoration: none;
    margin: 5px;
}

.recently_viewed #bullet-1, .youll_love_these #bullet-1 {
	color: #111;
}

/*
.dropdown p {
    border-bottom: 1px solid #ccc;
    padding-bottom: 13px;
    padding-top: 0px;
    font-size: 14px;
}
*/

#mini_bag_link {
	background: #fae4e1;
	color: #111;
}

.product_page_content .thumbnails a {
	float: left;
	clear: left;
}

.product_page_content .thumbnails {
    float: left;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #fae4e1;
  outline: 1px solid slategrey;
}

.product_page_content .small_prod_img_box {
	width: 120px;
	float: left;
	height: 700px;
    overflow-y: scroll;
}

.product_page_content .small_prod_img_box::-webkit-scrollbar {
    width: 1em;
}

.product_page_content .small_prod_img_box::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.product_page_content .small_prod_img_box::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: none;
}

.product_page_content .big_prod_img_box {
	float: left;
    padding: 0px 20px;
    width: 80%;
    margin: 0px !important;
    height: 700px;
    display: block;
    overflow: hidden;
}

.pager_counter {
	font-size: 18px;
}

.pager_next {
	margin: 6px 0 0 10px !important;
}

.pager_prev {
	margin: 6px 13px 0 0 !important;
}

.category_controls_box span {
	margin: 13px 10px 0 0 !important;
}

.category_controls_box span i {
	margin: 0px 6px 0 0 !important;
}

.pager {
	margin: 8px 0 0 0 !important;
}

.dropdown ul li {
	width: 100% !important;
}


/*///////////////////////////////////////////////////// CART START */


.checkout_page_box .woocommerce {
	float: left;
	clear: none;
	width: 50%;
/* 	border: 1px solid #fae4e1; */
}

.checkout_page_box .checkout_tbl_title {
	display: none;
}

.mini_product_color, .mini_product_size, .amount {
	margin: 5px 0px !important;
	width: 50%;
}

.category_banner {
	height: 400px;
    background-size: cover;
    background-position: 0px -250px;
}

.check_prod_photo_cell {

}

/*
.checkout_page_box {
	padding: 0px !important;
}
*/

.cart_product_size {
	margin: 5px 0px !important;
    float: left;
    width: 100%;
    display: block;
    font-size: 14px;

}

.size_numbers {
    border: 1px solid #fae4e1;
    padding: 5px;
    font-size: 13px;
    margin-left: 10px;
    width: 40px;
    display: block;
    height: 30px;
    float: left;
}

.qty_txt {
	font-size: 14px;
	margin-right: 10px;
	float:left;
	margin-top: 5px;
}

.size_txt {
	float: left;
	margin-top: 5px;
}

.check_prod_style_cell select {
	height: 30px !important;
	width: 40px !important;
	border: 1px solid #fae4e1;
	border-radius: 0px;
	-webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: white;
	padding-left: 14px;
	margin: 0 0 0 -2px !important;
}

.single-product select {
	height: 30px !important;
	width: 75px !important;
    text-align-last: center;
	float: left;
	border: 1px solid #fae4e1;
	border-radius: 0px;
	-webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: white;
}

.cart_item .check_prod_name_cell p {
	margin: 0px !important;
	display: block !important;
}

.variations tbody > tr > td.value label, .product_properties_list > li h3 {
	width: 25%;
	float: left;
	margin: 5px 0px 0px 0px!important;
}

.variations tbody > tr > td.value {
	overflow: hidden;
}

.reset_variations {
	display:none;
}

.prod_sb_qty {
	width: 120px !important;
	margin: 0 auto !important;
}

.single-product .product_properties_list > li h3 {
	margin-right: 15px !important;
}

.cart_product_color {
	font-size: 12px;
	display: block;
	margin: 7px 0px;
	/*display: block !important;*/
}

.checkout_delete_link {
	margin-top: 5px;
	font-size: 10px !important;
}

.checkout_tbl_row > li {
	padding: 0px !important;
	border: none !important;
}

.checkout_tbl_row {
	padding: 20px !important;
	border: 1px solid #fae4e1;
}

.checkout_tbl_row:first-of-type {
	border-bottom: none !important;
}

.checkout_tbl p {
	display: none;
}

.continue_shopping_link {
    display: block;
    float: left;
    width: 308px;
    border: none !important;
    text-align: left !important;
    padding: 0px !important;
    color: #000000;
    font-weight:100 !important;
    font-size: 11px !important;
    text-decoration: underline !important;
    letter-spacing: 0.15em;
	height: inherit !important;
    margin: 0px !important;
}

.cart_right {
	float: left;
	width: 50%;
}

.cart_discount_code {
    border: 1px solid #fae4e1;
    padding: 15px;
    margin-bottom: 20px;
	clear: both;
}

.cart_discount_code p {
	display: none;
}

.coupon {
	display: block;
    min-height: 45px;
    /*overflow: hidden;*/
}


.cmrd-coupon {
    clear: both;
    display: block;
    min-height: 45px;
}


.cmrd-coupon-data ul li {
    list-style: none;
}

.product_slide {
    position: relative;
}

.coupon p {
	margin: 0px;
	display: block;
}

.coupon p input + br {
    display: none;
}

.coupon br {
    display: none;
}

.cart_discount_code label {
	float: left;
	font-size: 18px;
	font-family: 'ScotchModernDisplay';
	width: 125px;
    margin-top: 12px;
}

.cart_discount_code #coupon_code {
	padding: 13px;
    color: #111;
    float: right;
    width: 25%;
    margin-top: 1px;
    margin-right: 10px;
    display: block;
    border: 1px solid #fae4e1;
}

.cart_discount_code input[type=submit] {
	width: 25%;
	float:right;
	font-size: 13px;
	display:block;
	font-weight: 100;
}

.cart-collaterals {
	display: block !important;
}

.woocommerce-cart #totals {
	margin: 0px;
}

/* .woocommerce-cart  */

/*////////////////////////////////////////////////////////////////////////////////////////////////////////// CART END */


/*////////////////////////////////////////////////////////////////////////////////////////////////////////// CHECKOUT START */

#whiteout {
	width: 100%;
	height: 100vh;
	background: rgba(255,255,255,.9);
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	z-index: 1;
}

#whiteout h4 {
	font-size: 36px;
	text-align: center;
	top: 50%;
	position: relative;
	display: block;
}

#whiteout img {
	display: block;
	width: 100px;
	top: 50%;
	margin: 0 auto;
	position:relative;
	z-index: 2;
}


.woocommerce-checkout .entry h3 {
	font-size: 18px;
	font-family: 'ScotchModernDisplay';
	text-transform: none;
}

.woocommerce .continue_shopping_link {
	width: 100%;
	margin-top: -55px !important;
}

#customer_details .col-1, #customer_details .col-2, #payment, .review_and_purchase {
    width: 33% !important;
    border: 1px solid #fae4e1;
    padding: 20px !important;
    float: none !important;
    display: block;
    overflow: hidden;
}

.woocommerce-billing-fields h3 {
	font-family: 'ScotchModernDisplay' !important;
	text-transform: none !important;
/* 	font-size: 18px !important; */
}

.continue {
	width: 100%;
    background: #111;
    text-align: center;
    display: block;
    padding: 15px;
    font-size: 14px !important;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #fef;
    font-weight: 100;
    overflow: hidden;
}

.woocommerce-billing-fields__field-wrapper label, .woocommerce-shipping-fields__field-wrapper label {
	display: none;
}

#customer_details .col-1 input, #customer_details .col-2 input, #payment, .review_and_purchase {
	padding: 13px;
    color: #111;
    width: 100%;
    margin-top: 1px;
    margin-right: 10px;
    display: block;
    border: 1px solid #fae4e1;
    width: 100% !important;
    overflow: hidden;
}

#billing_address_2, #shipping_address_2 {
	margin: 0px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#shipping_first_name_field, #shipping_last_name_field {
	width: 50% !important;
	float: left !important;
}

#shipping_first_name_field {
	padding-right: 5px !important;
}

#shipping_last_name_field {
	padding-left: 5px !important;
}

.shipping_thirds {
	width: 33.33% !important;
	float: left !important;
	padding-right: 5px !important;
}

.select2-container--default .select2-selection--single, #shipping_method_0, .country_select, .state_select, #stripe-card-number, #stripe-card-expiry, #stripe-card-cvc, #billing_info input[type='text'] {
	height: 44px !important;
	/*margin-top: 1px;*/
	/*margin-bottom: 10px !important;*/
	border-radius: 0px !important;
	padding: 10px !important;
	border: 1px solid #fae4e1 !important;
	width: 100% !important;
	background-color: white !important;
	-webkit-appearance: none;
    -webkit-border-radius: 0px !important;
}

#billing_city {
	margin-top: 10px;
}

#shipping_state_field_field {
	padding-right: 0px !important;
}

#billing_address_2_field {
	margin-bottom: 10px !important;
}

#ship-to-different-address, #order_review_heading, #order_comments_field, .woocommerce-account-fields .create-account label {
	display: none;
}

.checkout_left {
	width: 30%;
	float: left;
}

.checkout_right {
	width: 70%;
	float: left;
	padding-left: 20px;
}

#customer_details .col-1, #customer_details .col-2, #order_review {
	width: 100% !important;
}

.woocommerce_totals {
	padding: 0px;
	margin-bottom: 30px;
	width: 100% !important;
	/*background-color: rgb(255,248,247) !important;*/
}

.checkout_product_qty {
	font-size: 16px;
	margin-top: 6px;
	display: block;
}

.woocommerce_totals .checkout_tbl_row {
	margin-top: 20px;
}

.checkout_and_cart_featured_image, #totals {
	height: 250px;
}

.checkout_and_cart_featured_image {
	border-right: 1px solid #fae4e1;
	border-top: 1px solid #fae4e1;
	border-bottom: 1px solid #fae4e1;
}

.checkout_right ul, .cart_discount_code, .checkout_and_cart_featured_image {
	background-color: white;
}

.cart-item {
	border: 1px solid #fae4e1;
}

/*
#order_review {
	margin-top: -40px;
}
*/

#totals {
	float: left;
	width: 50%;
	padding: 40px !important;
	border-left: 1px solid #fae4e1;
	border-top: 1px solid #fae4e1;
	border-bottom: 1px solid #fae4e1;
}

#totals li span {
	font-size: small !important;
}

#totals li {
	margin: 15px 0px;
	display:block;
	overflow:hidden;
}

#totals li span {
	float:left;
	width: 50%;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
}

#totals li .woocommerce-Price-currencySymbol {
	width: auto;
}

#totals li .amount {
	margin: 0px !important;
	width: 100%;
}

.checkout_and_cart_featured_image {
	width: 50%;
	float: left;
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.checkout_and_cart_featured_text {
	width: 50%;
	display: block;
	font-size: 20px;
	padding: 20px 0px 20px 20px;
}

.checkout_and_cart_featured_image .cta {
	width: 125px;
	margin-left: 20px;
}

.cta {
	width: 50%;
    background: #111;
    text-align: center;
    display: block;
    padding: 15px;
    font-size: 14px !important;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #fef;
    font-weight: 100;
}

.woocommerce-cart .checkout-button {
	display: none;
}

#shipping_company_field, #billing_company_field {
	display: none;
}

.cart_review_totals_shipping, .cart-discount {
	padding-bottom: 10px;
	border-bottom: 1px solid #111;
}

#customer_details .col-1, #customer_details .col-2, #payment {
	background-color: white;
}

#customer_details .col-1, #payment {
	margin-bottom: 20px;
}

#customer_details .col-2 {
	margin-bottom: 10px;
}

#shipping_method_0 {
	margin-bottom: 10px;
	background-color: white;
}

.woocommerce-checkout-review-shipping-table {
	overflow: hidden;
    width: 100%;
}

.woocommerce-checkout-review-shipping-table h3 {
	margin: 0px !important;
	padding-top: 20px;
}

.payment_method_paypal, #payment_method_stripe, .payment_method_stripe label, #stripe-payment-data p {
	display: none !important;
}

#wc-stripe-cc-form p {
	display: block !important;
}

.review_and_purchase p input {
	margin-top: 10px;
	width: 100% !important;
}

#customer_details .col-1 input#mailchimp_woocommerce_newsletter {
    width: 14px !important;
    margin-top: 3px !important;
    border-radius: 100% !important;
    border: 1px solid #111 !important;
    -webkit-appearance: none !important;
    cursor: pointer !important;
    display: block;
    overflow: hidden;
    padding: 6px;
    float: left;
}

#customer_details .col-1 input#mailchimp_woocommerce_newsletter:checked, #same_as_shipping:checked {
	background-color: #999;
}

#shipping_city_field, #shipping_state_field, #shipping_postcode_field, #billing_city_field, #billing_state_field, #billing_postcode_field {
	width: 33.33% !important;
	float: left !important;
}

#shipping_state_field, #shipping_postcode_field, #billing_state_field, #billing_postcode_field {
	padding-left: 10px;
}

.woocommerce-checkout-review-shipping-table {
	font-size: 0px;
}

.woocommerce-account-fields {
	display: none;
}

#payment img {
	display: block;
}

.payment_logos, #payment_header {
	float: left;
	width: 50%;
}

.wc_payment_methods {
	width: 100%;
    overflow: hidden;
}

#wc-stripe-cc-form .form-row-first, #wc-stripe-cc-form .form-row-last {
	width: 50% !important;
	float: left;
	margin-top: 10px;
}

#wc-stripe-cc-form .form-row-first {
	padding-right: 5px;
}

#wc-stripe-cc-form .form-row-last {
	padding-left: 5px;
}

#stripe-card-cvc {
	width: 100% !important;
}

#same_as_shipping {
    width: 14px !important;
    margin-top: 1px !important;
    margin-bottom: 20px !important;
    border-radius: 100% !important;
    border: 1px solid #111 !important;
    -webkit-appearance: none !important;
    cursor: pointer !important;
    display: block;
    overflow: hidden !important;
    padding: 6px !important;
    float: left;
}

#payment p {
	overflow: hidden !important;
	width: 100%;
}

#billing_state, #billing_city, #billing_postcode_field {
	margin-top: 10px;
}

.woocommerce-checkout .entry h1, .woocommerce-checkout #menu, .woocommerce-checkout .header_shipping_ad {
	display: none;
}

.checkout_and_cart_featured_image .cta {
	margin-top: -30px;
}

#billing_info input {
	width: 100% !important;
	margin-bottom: 10px;
}

.checkout_tbl_row {
	margin-bottom: 0px !important;
}

.checkout_edit {
	float: right;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 100;
	display:none;
	margin-top: 10px;
	text-decoration: none !important;
}

#customer_details h3 {
	float: left;
}

.field_review {
	width: 100%;
	display: none;
    font-size: 11px;
}

#payment #billing_first_name_field {
	width: 50%;
	padding-right: 5px;
	float: left;
}

#payment #billing_last_name_field {
	float: left;
	width: 50%;
	padding-left: 5px;
}

.payment_review_fields_right, .payment_review_fields_left {
	float: left;
	width: 50%;
}

.payment_review_fields_right {
	padding-left: 5px;
}

payment_review_fields_left {
	padding-right: 5px;
}

#same_as_shipping_wrapper {
	overflow:hidden;
}

.field_review p {
	margin: 0px !important;
	line-height: 20px !important;
}

.woocommerce-shipping-fields__field-wrapper, #billing_slide, .wc_payment_methods, #same_as_shipping_wrapper, #billing_info {
	width: 100%;
}

.checkout_coupon {
	display: block !important;
}

.cart_discount_code .coupon .woocommerce-info {
	width: 50%;
    float: left;
    font-size: 22px;
    font-family: 'ScotchModernDisplay';
    margin-top: 13px;
}

.checkout_coupon {
	float: left;
	width: 50%;
}

.checkout_coupon p {
	width: 50%;
    display: block;
    overflow: hidden;
    margin: 0px !important;
    float: left;
}

.checkout_coupon .form-row-first {
	padding-right: 5px;
}

.checkout_coupon .form-row-last {
	padding-left: 5px;
}


.checkout_coupon p input {
	padding: 13px;
    color: #111;
    display: block;
    border: 1px solid #fae4e1;
    float: none !important;
    margin-right: 0px;
    width: 100% !important;
}

#billing_field_review p {
	text-transform: uppercase;
}

.woocommerce-checkout .payment_method_express_checkout {
	display: none;
}

#pay_with_amazon, a.paypal-express-checkout-button {
	width: 100% !important;
}

#express_checkout_button_text {
	display: none;
}

.express_checkout_button_chekout_page #express_checkout_button_chekout_page .single_add_to_cart_button {
	width: 100% !important;
}

.express_checkout_button_chekout_page, #express_checkout_button_chekout_page {
	width: 100%;
}

.wc-amazon-payments-advanced-info p {
	display: none;
}

#OffAmazonPaymentsWidgets0 {
	display: block !important;
}

/*.wc-amazon-checkout-message, .express_checkout_button_chekout_page {*/
	/*display: none;*/
/*}*/

.payment_box.payment_method_stripe {
	display: block !important;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////// CHECKOUT END */





/*////////////////////////////////////////////////////////////////////////////////////////////////////////// THANK YOU START */

.woocommerce-order-received .aside {
	width: 100%;
}

.woocommerce-order-received .widget:nth-of-type(1), .woocommerce-order-received .widget:nth-of-type(2), .woocommerce-order-received .widget:nth-of-type(4), .content-holder {
	display: none;
}

.woocommerce-order {
	width: 34%;
	display: block;
	border: 1px solid #fae4e1;
	padding: 20px;
	background: white;
	float: left;
	height: 350px;
}

.thank_you_image_wrap {
	width: 66%;
	float: left;
	height: 350px;
	padding-left: 20px;
}

.thank_you_featured_image {
	background-size: cover !important;
	background-position: center !important;
	height: 350px;
	padding: 20px;
	border: 1px solid #fae4e1;
}

.thank_you_featured_text {
	font-size: 24px;
    width: 200px;
    display: block;
    line-height: 30px;
}

.timer_wrap {
	height: 250px;
	margin-top: 20px;
	display: block;
	clear: left;
	padding-top: 20px;
}

.thank_you_featured_image_2 {
	height: 250px;
	background-size: cover !important;
	background-position: center !important;
}

.timer_wrap .one-third {
	width: 33.33%;
	float: left;
	border: 1px solid #fae4e1;
	padding: 20px;
}

.content_countdown .days, .content_countdown .time_description, .content_countdown .secondes {
	display: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////// THANK YOU END */

.pathway_box {
	margin: 28px 0 40px 0 !important;
}

.big_img_title img {
	display: none !important;
}

.big_img_title {
    background-size: cover;
    background-position: center;
    height: 400px;
}

/*
.big_prod_img_box img {
	width: 100% !important;
    height: auto !important;
}
*/


.after_products {
	clear:both;
	display:block;
	width:100%;
	overflow:hidden;
	padding-top: 100px;
}

.after_products h4 {
	margin: 0px 0px 80px 0px;
}

.recently_viewed, .youll_love_these {
	width: 100%;
	padding: 40px;
	text-align:center;
}

.recently_viewed {
	border-right: .5px solid #fae4e1;
	display: none;
}

.archive .recently_viewed {
	display: block;
	border: none;
	width:100%;

}

.related_box ul {
	display: flex !important;
	justify-content: center;
}

.youll_love_these {
	border-left: .5px solid #fae4e1;
}

.rc_wc_rvp_product_list_widget, .product_list_widget {
	padding: 0px;
}

.rc_wc_rvp_product_list_widget li, .product_list_widget li {
	list-style: none;
	width: 50%;
	float: left;
}

/*
.rc_wc_rvp_product_list_widget li a, .product_list_widget li a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    text-transform: none !important;
}
*/

.product_email_subscribe {
	background: #fae4e1;
	text-align: center;
	overflow: hidden;
	margin: 0px -50%;
    width: auto;
}

.product_email_subscribe h3 {
	font-size: 36px;
	display:block;
	margin: 100px 0px 20px 0px;
	color: #8c6f6b;
	letter-spacing: 1px;
}

.product_email_subscribe h3 em {
	font-size: 50px;
}

.product_email_subscribe span {
	text-align: center;
    padding: 0px 40px;
    display: block;
    max-width: 700px;
    margin: 0 auto;
    color: #8c6f6b;
}

.product_email_subscribe_form {
	max-width: 250px;
	margin: 40px auto;
	display:block;
}

.product_email_subscribe_form input {
	padding: 13px !important;
    color: #111 !important;
    width: 100% !important;
    margin-top: 10px;
    margin-right: 10px;
    display: block;
    border: 1px solid #fae4e1 !important;
}

input[type=submit] {
	color: #fef !important;
}

.product_question {
	display: block;
	overflow: hidden;
	width: 100%;
	margin: 100px 0 0 0;
	padding: 40px;
    border: 1px solid #fae4e1;
}

.product_question h3 {
	text-align: center;
	font-size: 32px;
}

.product_question form input, .product_question form select, .product_question form textarea {
	padding: 13px !important;
    width: 100% !important;
    margin-top: 10px;
    margin-right: 10px;
    display: block;
    border: 1px solid #fae4e1 !important;
    float: left;
    letter-spacing: 2px;
}

input[type=number], select, input[type=tel], input[type=url], input[type=password], input[type=text], input[type=email], textarea {
	color: #777 !important;
}

.sub_form {
	float: left;
	width: 33%;
	padding: 20px;
}

.product_question select {
	height: 45px !important;
	color: #777;
}

.product_question textarea {
	height: 153px !important;
}

.product_question input[type=submit] {
	height: 45px !important;
}

.form_message {
	font-size: 15px;
    width: 34%;
    float: right;
    margin-top: 30px;
    text-align: left;
    padding: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

.product_question .wpcf7-response-output {
    width: 100%;
    float: right;
    margin: 0px;
    font-size: 20px;
    font-weight: 100;
    border: 2px solid #ffa07a;
}

#overlay {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  display: inline-block;
  background-repeat: no-repeat;
}

.MagicToolboxSelectorsContainer {
	float: left;
}

div.MagicToolboxMainContainer {
	float: left;
	/*max-width: 50% !important;*/
}

.cart_discount_code .coupon .woocommerce-info {
	display: none;
}


.woocommerce-checkout #footer {
	margin: 0;
}

.single-product .woocommerce-message {
	display: none;
}

.checkout_page_box .variation {
	/*display: none;*/
}

@media screen and (min-width: 768px) {

	.recently_viewed, .youll_love_these {
		width: 50%;
		float:left;
		display:block !important;
	}

	.rc_wc_rvp_product_list_widget li, .product_list_widget li {
		float: left;
		width: 33.33%;
	}

	.cart_discount_code .coupon .woocommerce-info:first-of-type {
		display: block;
	}

}

/* Prevent autoscrolling images from being visible beyond parent */
.mcs-items-container,
.MagicToolboxSelectorsContainer {
    overflow: hidden;
}

.cmrd-coupon-data
 {
    width: 50%;
}

.cmrd-coupon-wrap {
    float: right;
    width: 25%;
    clear: both;
}

body.woocommerce-checkout .remove-coupon,
body.woocommerce-cart .remove-coupon {
    font-size: 10px;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    color: #333 !important;
}

body div .cmrd-coupon-wrap p {
    width: 100;
    padding-left: 5px;
}

body.woocommerce-cart .cmrd-coupon-wrap p {
    padding-left: 0 !important;
}

.cmrd-invalid {
    border: 2px solid red !important;
}

.cmrd-warning {
    width: 100%;
    background: rgb(223, 110, 103);
    display: block;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    padding: 10px;
    visibility: hidden;
}

#cmrd-payment-buttons {
    background: white;
    width: 100%;
    border: 1px solid #fae4e1;
    padding: 20px !important;
    float: none !important;
    display: block;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
}

#cmrd-payment-buttons a,
#cmrd-payment-buttons a img {
    width: 100%;
    margin: 10px 0;
}
