/* Sumner Style Sheet */


/* Single-Product Styles */
@media screen and (max-width: 866px){
	.single-product .product_page_sidebar {
		padding: 20px 5px !important;
	}
	
	.single-product .product_page_content, 
	.single-product .product_page_sidebar {
		width: auto !important;
		float: none !important;
	}
	
	.single-product .product_page_title.mobile {
		display: block !important;
		text-align: center !important;
		padding: 20px 0 0 0 !important;
		
		
	}
	
	.single-product .desktop_only {
		display: none !important;
	}
}

.thumbnail-scroll {
  display: none;
}

@media (min-width: 768px) {
  
  .thumbnail-scroll p {
    color: #939393;
    letter-spacing: 2px;
    font-size: .7em;
    font-weight: 600;
  }
    
  .thumbnail-scroll {
    display: inherit;
    padding-left: 25%;
  }
  
  .down {
    padding-left: 5px;
  }

  .single-product .product_page_content .images {
	  display: flex;
	  justify-content: flex-start;
	  -webkit-justify-content: flex-start;
  }

}

@media (min-width: 1225px) {
	.product_page_sidebar {
		position: relative;
		right: 10%
	}
}

  div.MagicToolboxContainer {
	  justify-content: flex-start;
	  -webkit-justify-content: flex-start;/* Safari 6.1+ */
  }


/*@media screen and (max-width: 550px){
	.single-product .mcs-items-container{
		display: none !important;
	}
	
	.single-product .MagicToolboxSelectorsContainer {
		width: 0 !important;
	}
}*/


/* Checkout Styles */

.woocommerce-checkout .header_shipping_ad,
.woocommerce-checkout .cart-holder,
.woocommerce-checkout #menu{
	display: none;
}

.woocommerce-checkout #header {
	margin-bottom: 10px;
}

.woocommerce-checkout .entry h1:first-child {
	display: none;
}

.woocommerce-checkout #body {
	background-color: rgb(255,248,247);
	border-top: 1px solid #999999;
}

.woocommerce-billing-fields h3:first-child {
	display: none;
}

.skin {
	background-color: white;
}

.checkout_right ul {
	background-color: white;
}

.woocommerce .review_and_purchase {
	background-color: white;

}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 25% !important;
}

.woocommerce-checkout .entry h3 { /* move to graysons styles */
	font-family: 'ScotchModernDisplay';
	text-transform: capitalize;
	letter-spacing: normal;
}

.woocommerce_totals ul li span {
	font-size: small;
}
.checkout_and_cart_featured_text { /* move to graysons styles */
	font-family: 'ScotchModernDisplay';
	font-size: larger;
}

.checkout_product_qty {
	text-align: center;
	border: 1px solid #fae4e1;
	padding: 5px;
	font-size: 13px;
	margin-left: -2px;
	width: 40px;
	display: block;
	height: 30px;
	float: left;
}
.size_numbers { /* move to graysons styles */
	text-align: center;
}
#payment input {
	padding: 13px;
	color: #111;
	width: 100%;
	margin-right: 10px;
/* 	display: block; */
	border: 1px solid #fae4e1;
	overflow: hidden;
}

#billing_first_name,
#billing_last_name {
	width: 50% !important;
	float: left !important;
	margin-right: 0 !important;
}
